.page {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  padding: 40px;
  position: absolute;
  background: linear-gradient(#f3f4fd, #fefefc);
  display: flex;
}


.content {
}

.img {
  width: 100%;
  /* margin: 24px; */
}

.title {
  color: #8a89bc;
  font-size: 75px;
  margin: 0;
}

.subtitle {
  margin: 0;
  color: #8a89bc;
  font-size: 35px;
}

.text {
  color: #a7a7d1;
  font-size: 15px;
}

.button {
  margin-top: 24px;
  background: #a7a7d1;
  color: #FFFFFFde !important;
  border-radius: 18px;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 12px;
}

.button:hover {
  background: #8a89bc;
}